*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    width:100vw;
    height: 100vh;
    display:flex;        
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
}
.button{
    width: 5rem;
    height:2.5rem;
    margin: 1px;
}
.button:hover{
    background-color:#23ff1a;
}
#calc{
    margin: 0 auto;    
    width: fit-content;
    height: fit-content;
    border: 1px solid #fff;
    text-align:center;
}
#screen{
    width: 100%;
    border: 2px solid #fff;
    font-size: 2rem;    
    color: #fff;
}
.clear{
    background:red;
}
.buttons{
    display:flex;
}
.numberButtons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    direction: rtl;
    margin-right: 1rem;
}
.numberButtons > .button:last-child {
    grid-column-start: 2;
}
.numberButtons > .button{
    font-size:2rem;
    background-color: #000;
    color: #fff;
}
.click{
    background: #23ff1a !important ; 
}
.operatorButtons{
    display:flex;
    flex-direction:column;
    height:100%;
}
.operatorButtons > .button{
    font-size:2rem;
    background-color: #000;
    color: #fff;
}
